<div class="container">
  {{!-- HEADER --}}
  <div class="jumbotron">
    <h1 class="display-4" >Welcome to SQL Burger!</h1>
    <p class="lead">What would you like to order today? You can choose from our menu of burgers from Bob's Burgers™ or
      make your own burger! </p>
    <hr class="my-4">
    {{!-- Burger Image --}}

    <div class="row">
      <div class="col-md-12 text-center">
        <img class="img-fluid" id="banner" src="/public/assets/images/burger.jpeg">
      </div>
    </div>

  <br>
  <br>
    <div class="row">
      {{!-- Not Devoured --}}
      <div class="col-md-4">
        <h2 class="text-center">Not Devoured</h2>
        <ul>
          {{#each burger}}
          {{#unless this.devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      {{!-- Form --}}
      <div class="col-md-4 text-center">
        <form action="" method="POST" id="burger-form">
          <input type="text" id="burger" placeholder="Enter Your Burger">
          <input type="submit" id="submit-button" class="btn btn-danger" value="Submit">
        </form>
      </div>
      {{!-- Devoured --}}
      <div class="col-md-4">
        <h2 class="text-center">Devoured</h2>
        <ul>
          {{#each burger}}
          {{#if this.devoured}}
          <li>
            {{burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>