body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: 25%;
    margin: 0 auto; 
    color: cornflowerblue;
}

.jumbotron  {
    opacity: 0.97;
}

.jumbotron h1   {
     font-weight: 800;
    }
#banner {
    width: 65%;
}

li {
    font-size: 1.5em;;
}

li,
form {
    margin-bottom: 0.2em;
}

li button {
    margin-left: 0.4em;
}

ul  { 
list-style-type: none;
}

ul li:before {    
    font-family: 'FontAwesome';
    content:"\f0f5";
    margin:0 10px 0 -10px;
    color: #f00;
}
